/*CSS Documment*/
@charset "UTF-8";

/*---AJUSTES GENERALES---*/

/*FUENTES*/
@font-face {
    font-family: "Very Vogue Display";
    src: url("fuentes/very-vogue-font/very-vogue-display.otf") format("opentype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Very Vogue Display Italic";
    src: url("fuentes/very-vogue-font/very-vogue-display-italic.otf") format("opentype");
    font-weight: 400;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Very Vogue text";
    src: url("fuentes/very-vogue-font/very-vogue-text.otf") format("opentype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Very Vogue Text Italic";
    src: url("fuentes/very-vogue-font/very-vogue-text-italic.otf") format("opentype");
    font-weight: 400;
    font-display: swap;
    font-style: italic;
}

body {
    margin: 0;
    padding: 0;
    background-color: #EFE3D9;
}


/*---AJUSTES ESPECÍFICOS---*/

/*---INDEX HTML---*/


/*---NOSOTROS HTML---*/
/*NAV*/
.nav-nosotros {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #AFE4E6;
    padding: 25px 60px;
}

.nav-nosotros ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 40px;
}

.nav-nosotros a {
    text-decoration: none;
    color: #430D21;
    font-family: 'Cabinet Grotesk', sans-serif;
    font-weight: 800;
    font-size: 0.9rem;
    transition: opacity 0.3s ease;
}

.nav-nosotros a:hover {
    color: #C8D9A7;
}

/*HERO*/
.hero {
    display: block;
    margin: 40px auto;
    max-width: 90%;
    height: auto;
}

/*SOBRE CUERPO CONCIENTE*/
.sobre-cuerpo-conciente {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px 80px 20px;
    text-align: center;
}

.sobre-cuerpo-conciente h2 {
    font-family: "Very Vogue Text Italic", serif;
    font-style: italic;
    font-size: 3rem;
    color: #430D21;
    font-weight: normal;
    margin-bottom: 30px;
}

.sobre-cuerpo-conciente p {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    max-width: 750px;
    color: #430D21;
    font-size: 1rem;
    line-height: 1.7;
    margin-bottom: 60px;
}

.cards {
    display: flex;
    gap: 30px;
    max-width: 1000px;
    width: 100%;
    justify-content: center;
}

.mision,
.vision {
    background-color: #430D21;
    color: #EFE3D9;
    padding: 50px 50px;
    border-radius: 40px;
    flex: 1;
    text-align: left;
}

.cards h3 {
    color: #AFE4E6;
    font-family: 'Cabinet Grotesk', sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    margin-top: 0;
    margin-bottom: 30px;
}

.cards p,
.cards ul {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 0.95rem;
    line-height: 1.6;
    color: #EFE3D9;
}

.cards p {
    margin-bottom: 5px;
}

.cards ul {
    padding-left: 20px;
    margin-top: 0;
}

.cards li {
    margin-bottom: 10px;
}

/*PERSONAL*/

.personal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    max-width: 1000px;
    margin: 0 auto; 
    padding: 0 20px 80px 20px;
}

.perfil {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.perfil img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.perfil figcaption h3 {
    font-family: 'Cabinet Grotesk', sans-serif;
    font-weight: 700;
    color: #430D21;
    font-size: 1.1rem;
    font-weight: 800;
    margin: 0 0 5px 0;
}

.perfil figcaption h4 {
    font-family: 'Cabinet Grotesk', sans-serif;
    color: #430D21;
    font-size: 1rem;
    font-weight: 600;
    margin: 0 0 15px 0;
}

.perfil figcaption p {
    font-family: 'Inter', sans-serif;
    color: #430D21;
    font-size: 0.9rem;
    line-height: 1.6;
    margin: 0;
}

/*FOOTER*/



/*---MÉTODO PILATES HTML---*/


/*---CURSOS HTML---*/


/*---CONTACTO HTML---*/