/*CSS Documment*/
@charset "UTF-8";

/*---AJUSTES GENERALES---*/

/*FUENTES*/
@font-face {
    font-family: "Very Vogue Display";
    src: url(fuentes/very-vogue-font/very-vogue-display.otf) format(opentypefont);
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Very Vogue Display Italic";
    src: url(fuentes/very-vogue-font/very-vogue-display-italic.otf) format(opentypefont);
    font-weight: 400;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Very Vogue text";
    src: url(fuentes/very-vogue-font/very-vogue-text.otf) format(opentypefont);
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Very Vogue Text Italic";
    src: url(fuentes/very-vogue-font/very-vogue-text-italic.otf) format(opentypefont);
    font-weight: 400;
    font-display: swap;
    font-style: italic;
}

body {
    margin: 0;
    padding: 0;
}


/*---AJUSTES ESPECÍFICOS---*/

/*---INDEX HTML---*/


/*---NOSOTROS HTML---*/
/*NAV*/
.nav-nosotros {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #AFE4E6;
    padding: 25px 60px;
}

.nav-nosotros ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 40px;
}

.nav-nosotros a {
    text-decoration: none;
    color: #430D21;
    font-family: 'Cabinet Grotesk', sans-serif;
    font-weight: 800;
    font-size: 0.9rem;
    transition: opacity 0.3s ease;
}

.nav-nosotros a:hover {
    color: #C8D9A7;
}

/*---MÉTODO PILATES HTML---*/


/*---CURSOS HTML---*/


/*---CONTACTO HTML---*/